<h1>Target List</h1>

<%=
  grid(@targets_grid) do |g|

    g.column name: 'Name', attribute: 'name' do |target|
      [link_to(target.name, target), {style: 'width:10em; text-align:center'}]
    end

    if current_user.present?
      g.column name: '', attribute: 'publicity', filter: false do |target|
        [target.publicity ? '<i class="fa fa-eye" aria-hidden="true" title="Public"></i>'.html_safe : '', {style: 'width:1em; text-align:center'}]
      end
    end

    g.column name: 'Description', attribute: 'description' do |target|
      [link_to(strip_tags(target.description), target), {title: target.description, style: 'width:32em; max-width: 32em; white-space:nowrap; overflow:hidden; text-overflow:ellipsis'}]
    end

    g.column name: 'Creator', attribute: 'email', assoc: :user do |target|
      [render(partial: 'users/user', object: target.user), {style: 'width:15em; text-align:center'}]
    end

    g.column name: '' do |target|
      [link_to(image_tag('/assets/lodqa-logo.svg', height: '12'), "http://lodqa.org/?target=#{target.name}",
        {title: "Open LODQA with this target", class: :button,
         style: "box-sizing:border-box; width:100%; padding:3px 6px; text-align:center"}),
      {}]
    end
  end
-%>

<div class='control'>
<span class='button'><%= link_to 'Create a new LODQA target', new_target_path %></span>
</div>