// Place all the styles related to the Targets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th, td {
	padding: 4px;
}

table {
	margin: 4px 0;
	width: 100%;
	border: solid 1px #aaf;
	border-collapse: collapse;
}

thead {
	border-style: none;
	border-collapse: collapse;
	border-width: 0;
	padding:4px;
	background-color: #eeeeff;
}

tbody tr:nth-child(even) {
	background-color: #f5f5f5;
}

table.column-head th{
	text-align: right;
}

td input[type=text], textarea {
  box-sizing: border-box;
	width:100%;
}

td textarea {
	height: 5em;
}

.control {
	text-align: right;
	margin: 5px 0;
}

.note {
	color: #999999;
	font-style: italic;
}
